[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
EbookLib = "*"
requests = "*"
argparse = "*"
python-dateutil = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-html = "*"
assertpy = "*"

[requires]
python_version = "3.9"
